#menu {
  li {
    a {
      color: #3f3f3f;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px;
      &.active {
        background-color: rgb(59 130 246);
        color: #fff;
      }
      &:hover:not(.active) {
        transition: background-color 0.3s ease-in-out;
        background-color: #ccc;
      }
    }
  }
}
