main {
  background-color: rgb(224 231 255);
  .container {
    height: max-content;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
    .header-home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
}
